<h1>Enroll Student</h1>

<form action='/students' method='post'>
 <label>
   First name:
   <input type="text" name="first_name">
 </label>

 <label>
  Last name:
  <input type="text" name="last_name">
</label>

<label>
  Age:
  <input type="number" name="age">
</label>

<label>
  House:
  <select name="house_id">
    <option value="1">Gryffindor</option>    
    <option value="2">Slytherin</option>    
    <option value="3">Hufflepuff</option>    
    <option value="4">Ravenclaw</option>    
  </select>

  <input type="submit" value="Enroll">

</label>

</form>