<h1>Enroll Student</h1>

<form action='/students' method='post'>
 <label>
   First name:
   <input type="text" name="first_name">
 </label>

 <label>
  Last name:
  <input type="text" name="last_name">
</label>

<label>
  Age:
  <input type="number" name="age">
</label>

<label>
  House:
  <select name="house">
    <option value="Gryffindor">Gryffindor</option>    
    <option value="Slytherin">Slytherin</option>    
    <option value="Hufflepuff">Hufflepuff</option>    
    <option value="Ravenclaw">Ravenclaw</option>    
  </select>

  <input type="submit" value="Enroll">

</label>

</form>